/*base*/

html, body, div, h1, h2, h3, h4, h5, h6, p, span, img, input, ul, ol, li {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: '微软雅黑';
	background-color: #f8f8f8;
}

ul, ol {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/*header*/

#header {
	width: 100%;
	height: 600px;
	background-image: url(./blog-banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	overflow: hidden;
}

#blogTitle {
	text-align: center;
	margin-top: 261px;
}

#lnkBlogLogo {
	display: none;
}

#Header1_HeaderTitle {
	color: #fff;
	font-size: 64px;
	line-height: 1;
}

#Header1_HeaderTitle::after {
	content: "'s Blog";
/*	font-size: 64px;
	line-height: 1;*/
}

#blogTitle h2 {
	font-size: 36px;
	color: #fff;
	margin-top: 6px;
}

#blogTitle h2::after {
	content: 'Fucking the Damn World';
}

#navigator {
	position: absolute;
	width: 1200px;
	top: 43px;
	left: 50%;
	margin-left: -600px;
}

#navList {
	position: absolute;
	top: 0;
	right: 30px;
	overflow: hidden;
}

#navList li {
	float: left;
	margin-left: 20px;
}

#navList li a {
	color: #B8B8B8;
}

#navList li a:hover, #navList li a:active {
	color: #fff;
}

/*.menu {
	position: relative;
	color: transparent;
}

.menu::after {
	color: #b8b8b8;
	position: absolute;
	left: 0;
	top: 0;
}

.menu:hover {
	color: #fff;
}

#blog_nav_sitehome::after {
	content: 'cnblog';
}*/

#blog_nav_rss_image {
	display: none;
}

#blog_stats {
	display: none;
}

/*main*/

#main {
	width: 1200px;
	margin: 0 auto;
	padding: 60px 0 70px 0;
}

.day {
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.postTitle {
	font-size: 34px;
	margin-bottom: 24px;
	line-height: 1;
}

.postTitle a {
	color: #4a4a4a;
}

.c_b_p_desc {
	color: #4a4a4a;
	line-height: 1.8;
	font-size: 16px;
}

.c_b_p_desc_readmore {
	color: #3BAEE7;
}

.postDesc {
	font-size: 14px;
	color: #9DABB3;
	margin: 16px 0 15px 0;
}

.postDesc a {
	color: #3BAEE7;
	margin-left: 10px;
}

.dayTitle {
	display: none;
}